# System & Tool
__pycache__
MGKeys.playground/playground.xcworkspace
.DS_Store

# Input
*.ipsw
*.ipsw.download
*.dylib*
*.plist
dyld_shared_cache/
extracted_dylibs/
*__*

# Artifacts
all-hashes.txt
discover-obfuscated-mapped.txt
discover-obfuscated.txt
hashcat.txt
hashes.txt
maybe-non-gestalt-keys.txt
md5hashes.txt
obfuscated.txt
out-readable.txt
readable.txt
checksums*
*fcs_keys.json
potfile
devicetree.json

# Experimental
check-readable.sh
