# System & Tool
__pycache__
MGKeys.playground/playground.xcworkspace
.DS_Store

# Input
libMobileGestalt*.dylib

# Executable
obfuscate

# Artifacts
*.txt
!false-positive.txt
potfile

# Experimental
check-readable.sh
