# System & Tool
__pycache__
MGKeys.playground/playground.xcworkspace
.DS_Store

# Input
*.ipsw
*.dylib*
dyld_shared_cache/
extracted_dylibs/
*__*

# Executables
util

# Artifacts
*.txt
!false-positive.txt
checksums*
*fcs_keys.json
potfile

# Experimental
check-readable.sh
